body,
html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	position: relative;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	overflow: hidden;
}

#typing {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	width: 100%;
	height: 100vh;
}

#typing::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url("https://cdn.jsdelivr.net/gh/ZoZou02/zozou-pic/%E9%9B%AA.png");
	background-size: cover;
	background-position: center;
	filter: blur(5px);
	z-index: -1;
	transition: transform 0.3s ease;
}

#content {
	font-size: 32px;
	letter-spacing: 10px;
	color: #fff;
	text-shadow: 0 0 10px #5a5a5a, 0 0 10px #333;
	font-family: "JetBrains Mono", monospace, "Microsoft Yahei",
		"Droid Sans Fallback";
	transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out;
	font-weight: bold;
}

#content:hover {
	font-size: 36px;
	transform: scale(1.1);
}

.audioBox {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	transform: translate(0, -50%);
}

#snow-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 1;
}

.snowflake {
	position: absolute;
	background-color: #fff;
	border-radius: 50%;
	opacity: 0.8;
	pointer-events: none;
}

#audioPlayerContainer {
	position: relative;
	bottom: 100px;
	opacity: 1;
	z-index: 1000;
}

#audioPlayerControl {
	position: relative;
	background-color: #fff;
	border-radius: 30px;
	width: 300px;
	height: 50px;
	box-shadow: 0 0 20px rgba(107, 107, 107, 0.5);
	z-index: 1000;
}

#progressBarContainer {
	position: absolute;
	top: 45%;
	left: 15%;
	width: 70%;
	height: 5px;
	background: linear-gradient(
		to right,
		#fd2d5c var(--progress, 0%),
		#ddd var(--progress, 0%)
	);
	border-radius: 5px;
	cursor: pointer;
}

#progressBarContainer::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 20px;
	transform: translateY(-50%);
	background-color: transparent;
}

#progressBar {
	position: relative;
	width: 0;
	height: 100%;
	border-radius: 5px;
}

#progressBar::after {
	content: "";
	position: absolute;
	right: -7.5px;
	top: 50%;
	transform: translateY(-50%);
	width: 15px;
	height: 15px;
	background-color: #fd2d5c;
	box-shadow: 0 1px 10px rgba(107, 107, 107, 0.5);
	border-radius: 50%;
	opacity: 0;
	transition: opacity 0.3s ease;
}

#progressBarContainer:hover #progressBar::after {
	opacity: 1;
}

#volumeControlContainer {
	position: absolute;
	transition: transform 0.5s ease-in-out;
	z-index: 0;
}

#volumeControl {
	width: 50px;
}

#volumeIcon {
	position: relative;
	left: 216px;
}

/* 隐藏range控件默认样式 */
[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
	outline: 0;
	background-color: transparent;
	width: 500px;
}

/* 定义range控件轨道的样式 */
[type="range"]::-webkit-slider-runnable-track {
	height: 5px;
	border-radius: 5px;
	background: #ffffff;
}

/* 定义range控件拇指的样式 */
[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #fd2d5c;
	margin-top: -5px;
}
